include AUTHORS
include CHANGELOG
include NEWS
include README.txt
include lgpl.txt
include nosetests.1
include install-rpm.sh
include bin/nosetests
graft doc
graft examples
graft unit_tests
graft functional_tests
prune doc/.build
