
body {
       margin: 0px;
       padding: 10px 40px;
       font: x-small Georgia,Serif;
       font-size/* */:/**/small;
       font-size: /**/small;
       }

a:link {
         color:#58a;
         text-decoration:none;
         }
a:visited {
            color:#969;
            text-decoration:none;
            }
a:hover {
          color:#c60;
          text-decoration:underline;
          }

#menu {
        padding-left: 1em;
        padding-right: 1em;
        padding-bottom: 10px;
        margin-left: 20px;
        min-width: 200px;
        width: 20%;
        border-left: 1px solid #ddd;
        border-bottom: 1px solid #ddd;
        background-color: #fff;
        float: right;
        }

#main {
        margin: 0px;
        padding: 0px;
        padding-right: 20px;
        width: 70%;
        float: left;
        }      

h1 {
     font-size: 140%;
     margin-top: 0;
     }

.section h1 {
              font-size: 120%;
              }

.section h2 {
              font-size: 105%;
              }

pre.literal-block, pre.doctest-block 
{
  font-size: small;
  background: #ddd;
}

#menu ul {
           margin: 0 1em .25em;
           padding: 0;
           list-style:none;
           }

#menu h2 {
           font-size: 100%;
           color: #999;
           margin: 0 .5em;
           padding: 0;
           }

#menu ul li {
              margin: 0px;
              padding: 0px 0px 0px 15px;
              text-indent:-15px;
              /* line-height:1.5em; */
              }

#menu p, #menu ol li {
                       font-size: 90%;
                       color:#666;
                       /* line-height:1.5em; */
                       margin: 0 1em .5em;
                       }

#menu ul li {
              font-size: 90%;
              color:#666;
              }

#menu dd {
           margin: 0;
           padding:0 0 .25em 15px;
           }

#news {
        border: 1px solid #999;
        background-color: #eef;
        padding: 4px;
        padding-right: 8px;
        }

#news h2 {
           margin-top: 0px;
           font-size: 105%;
           }

#news li p {
             margin-left: 1.5em;
             }

#news li p.first {
                   margin-left: 0;
                   font-weight: bold;
                   }

#news p {
          margin-bottom: 0px;
          }

.note {
        background: #fed;
        border: 1px solid black;
        padding: 6px;
        }

.note p 
{ 
  margin-top: 0;
}

#news .note { 
              margin-top: 1.2ex;
 }

.admonition-title { 
                   display: none;
                   padding: 0;
                    margin: 0;
 }

.method, .attr, .func { 
          padding-top: 2px;
          padding-left: 1.5em;
          padding-right: 1em;
          margin-bottom: 2ex;
          }

.method.new 
{ 
  background-color: #ffe;
}

.method .doc 
{ 
  margin-left: 2em;
  margin-top: 0px;
  padding-bottom: 1px;
}

.method .name 
{ 
  font-weight: bold;
}

.method.generative
{ 
  background: url(gen.png) no-repeat;
  background-position: 0 0;
}

.method.chainable
{ 
  background: url(chain.png) no-repeat;
  background-position: 0 0;
}

.method.deprecated .name
{ 
   text-decoration: line-through;
}

.method .field-list, .attr { 
                      font-size/* */:/**/small;
                      font-size: /**/small;

}

.field-list dd, .field-list dd p { 
                 padding: 0 0 0 0;
                 margin: 0 0 0 0;
                 margin-left: 1em;
 }

.field-list td { 
                 padding-left: 20px;
 }

.field-list dt { 
                 font-weight: bold;
 }

.field-list dt .classifier-delimier { 
                                      font-weight: normal;
                                      font-size: 80%;
 }

.field-list dt .classifier { 
                             font-weight: normal;
                             color: #666;
                             
}

.doc .note p { 
             margin: 0px;
 }

.cls.section, .func.section { 
               margin-bottom: 2ex;
 }

.cls.name, .func.name, .attr.name { 
            font-size: 105%;
            font-weight: bold;
 }

.cls.section .attr.name 
{ 
  font-size: small;
}

.cls.doc, .func.doc, .attr.doc { 
           padding-left: 2em;
           padding-right: 2em;
 }

.attr.doc, .attr.doc p
{ 
  padding-top: 0px;
  margin-top: 0px;
}

.args 
{ 
  font-weight: normal;
}

.method.section, .attr.section 
{ 
  background: #ffe
}

.method.section.inherited, .attr.section
{ 
  background: none;
}

.attr.value 
{ 
  display: block;
  color: #666;
  margin-bottom: 0px;
}
.highlight  { background: #f8f8f8; }
.highlight .c { color: #408080; font-style: italic } /* Comment */
.highlight .err { border: 1px solid #FF0000 } /* Error */
.highlight .k { color: #008000; font-weight: bold } /* Keyword */
.highlight .o { color: #666666 } /* Operator */
.highlight .cm { color: #408080; font-style: italic } /* Comment.Multiline */
.highlight .cp { color: #BC7A00 } /* Comment.Preproc */
.highlight .c1 { color: #408080; font-style: italic } /* Comment.Single */
.highlight .cs { color: #408080; font-style: italic } /* Comment.Special */
.highlight .gd { color: #A00000 } /* Generic.Deleted */
.highlight .ge { font-style: italic } /* Generic.Emph */
.highlight .gr { color: #FF0000 } /* Generic.Error */
.highlight .gh { color: #000080; font-weight: bold } /* Generic.Heading */
.highlight .gi { color: #00A000 } /* Generic.Inserted */
.highlight .go { color: #808080 } /* Generic.Output */
.highlight .gp { color: #000080; font-weight: bold } /* Generic.Prompt */
.highlight .gs { font-weight: bold } /* Generic.Strong */
.highlight .gu { color: #800080; font-weight: bold } /* Generic.Subheading */
.highlight .gt { color: #0040D0 } /* Generic.Traceback */
.highlight .kc { color: #008000; font-weight: bold } /* Keyword.Constant */
.highlight .kd { color: #008000; font-weight: bold } /* Keyword.Declaration */
.highlight .kp { color: #008000 } /* Keyword.Pseudo */
.highlight .kr { color: #008000; font-weight: bold } /* Keyword.Reserved */
.highlight .kt { color: #008000; font-weight: bold } /* Keyword.Type */
.highlight .m { color: #666666 } /* Literal.Number */
.highlight .s { color: #BA2121 } /* Literal.String */
.highlight .na { color: #7D9029 } /* Name.Attribute */
.highlight .nb { color: #008000 } /* Name.Builtin */
.highlight .nc { color: #0000FF; font-weight: bold } /* Name.Class */
.highlight .no { color: #880000 } /* Name.Constant */
.highlight .nd { color: #AA22FF } /* Name.Decorator */
.highlight .ni { color: #999999; font-weight: bold } /* Name.Entity */
.highlight .ne { color: #D2413A; font-weight: bold } /* Name.Exception */
.highlight .nf { color: #0000FF } /* Name.Function */
.highlight .nl { color: #A0A000 } /* Name.Label */
.highlight .nn { color: #0000FF; font-weight: bold } /* Name.Namespace */
.highlight .nt { color: #008000; font-weight: bold } /* Name.Tag */
.highlight .nv { color: #19177C } /* Name.Variable */
.highlight .ow { color: #AA22FF; font-weight: bold } /* Operator.Word */
.highlight .w { color: #bbbbbb } /* Text.Whitespace */
.highlight .mf { color: #666666 } /* Literal.Number.Float */
.highlight .mh { color: #666666 } /* Literal.Number.Hex */
.highlight .mi { color: #666666 } /* Literal.Number.Integer */
.highlight .mo { color: #666666 } /* Literal.Number.Oct */
.highlight .sb { color: #BA2121 } /* Literal.String.Backtick */
.highlight .sc { color: #BA2121 } /* Literal.String.Char */
.highlight .sd { color: #BA2121; font-style: italic } /* Literal.String.Doc */
.highlight .s2 { color: #BA2121 } /* Literal.String.Double */
.highlight .se { color: #BB6622; font-weight: bold } /* Literal.String.Escape */
.highlight .sh { color: #BA2121 } /* Literal.String.Heredoc */
.highlight .si { color: #BB6688; font-weight: bold } /* Literal.String.Interpol */
.highlight .sx { color: #008000 } /* Literal.String.Other */
.highlight .sr { color: #BB6688 } /* Literal.String.Regex */
.highlight .s1 { color: #BA2121 } /* Literal.String.Single */
.highlight .ss { color: #19177C } /* Literal.String.Symbol */
.highlight .bp { color: #008000 } /* Name.Builtin.Pseudo */
.highlight .vc { color: #19177C } /* Name.Variable.Class */
.highlight .vg { color: #19177C } /* Name.Variable.Global */
.highlight .vi { color: #19177C } /* Name.Variable.Instance */
.highlight .il { color: #666666 } /* Literal.Number.Integer.Long */